
<div class="container">
  <h2 id="title">Welcome to Ember</h2>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row">
        <h3>{{value}}</h3>
      </div>
      <div class="row btn-group btn-group-lg">
          <button class="col-md-3 btn btn-default">AC</button>
          <button class="col-md-3 btn btn-default">+/-</button>
          <button class="col-md-3 btn btn-default">%</button>
          <button class="col-md-3 btn btn-default">/</button>
      </div>
      <div class="row btn-group btn-group-lg">
          <button class="col-md-3 btn btn-default">7</button>
          <button class="col-md-3 btn btn-default" {{action 'pushNumber' '8'}}>8</button>
          <button class="col-md-3 btn btn-default">9</button>
          <button class="col-md-3 btn btn-default">X</button>
      </div>
      <div class="row">
        <div class="btn-group btn-group-lg">
          <button class="btn btn-default">4</button>
          <button class="btn btn-default">5</button>
          <button class="btn btn-default">6</button>
          <button class="btn btn-default">-</button>
      </div>
      </div>
      <div class="row">
        <div class="btn-group btn-group-lg">
          <button class="btn btn-default">1</button>
          <button class="btn btn-default">2</button>
          <button class="btn btn-default">3</button>
          <button class="btn btn-default">+</button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

